@model IEnumerable<PlugLitePortalHelper.APIObjs.ExpenseObj>
@using XPLUG.WEBTOOLKIT
@using PluglexHelper.PortalObjs
@using GlobalLitePortalHelper.APICore
@{
    ViewBag.Title = "Expense Management";
    ViewBag.PgTitle = "Expense Management";
    var error = ViewBag.Error as string;
   
    decimal sum = 0;

}

<b><h3>Cash Disbursement</h3></b>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6 ">
                <input type="text" readonly value="" class="small col-6" id="disburse" />
            </div>
            <div class="col-sm-1"> 
                <button type="button" class="btn btn-yellow btn-sm waves-effect waves-light d-inline-block md-trigger" id="btnLoad">
                    <i class="icofont icofont-plus m-r-5"></i>RELOAD
                </button>

            </div>

        </div>
    </div>
    <div class="card-block">
        @if (!string.IsNullOrEmpty(error) && error.Length > 0)
        {
            <div class="alert alert-success btn btn-sm" role="alert">
                @Html.Raw(error)
            </div>
        }
        <div class="table-responsive">
            <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th> Amount Approved </th>
                        <th> Amount Disbursed </th>
                        <th>Requisition Date</th>
                        <th> Total Amount </th>
                        <th> Balance </th>
                        <th> status </th>
                        <th> action </th>
                        @*<th class="tabledit-toolbar-column">Action</th>*@
                    </tr>
                </thead>
                <tbody>
                    @{
                        int k = 1;
                        foreach (var item in Model.OrderByDescending(m=>m.ExpenseId))
                        {
                            sum += item.AmountApproved;
                                        <tr>
                                            <th>@k</th>

                                            <td>
                                                <span class="wrap-table">
                                                    @item.Title
                                                </span>
                                            </td>

                                            <td>
                                                <span class="wrap-table">
                                                    @item.AmountApproved
                                                </span>
                                            </td>
                                            <td>
                                                <span class="wrap-table">
                                                    @item.AmountDisbursed
                                                </span>
                                            </td>
                                            <td>
                                                <span class="wrap-table">
                                                    @item.ReguisitionDate
                                                </span>
                                            </td>
                                            <td>
                                                <span class="wrap-table">
                                                    @item.TotalAmount
                                                </span>
                                            </td>
                                            <td>
                                                <span class="wrap-table">
                                                    @item.Balance
                                                </span>
                                            </td>
                                            <td>
                                                <span class="wrap-table">
                                                    @{ var enumName = (ExpenseStatus)item.Status;}
                                                    @enumName
                                                </span>
                                            </td>

                                            <td>
                                                <div class="tabledit-toolbar btn-toolbar">
                                                    @if (item.Status != (int)ExpenseStatus.Disbursed)
                                                    {
                                                        <span class="p-1"><a href="@Url.Action("AddDisbursement", "DisbursementManager", new {ExpenseId = item.ExpenseId, clientId = item.ClientId, productId= item.ProductId, productItemId = item.ProductItemId})" data-modal="" data-toggle="tooltip" title="Awaiting Disbursement"><i class="fa fa-arrow-right"></i></a></span>

                                                    }
                                                    @*<span class="p-1"><a href="@Url.Action("_ExpenseDetail", "ExpenseManager", new {ExpenseId = item.ExpenseId})" data-modal="" data-toggle="tooltip" title="Detail">   <i class="fas fa-eye"></i></a></span>
                <span class="p-1"><a href="@Url.Action("_ManageExpenseUsers", "ExpenseManager", new {ExpenseId = item.ExpenseId, ExpenseName = item.ExpenseName})" data-modal="" data-backdrop="static" data-keyboard="false" data-toggle="tooltip" title="Manage Users">   <i class="fas fa-users-cog"></i></a></span>
                <span class="p-1"><a href="@Url.Action("Index", "ProductManager", new {ExpenseId = item.ExpenseId})" title="Products">   <i class="fa fa-arrow-circle-right"></i></a></span>
                <span class="p-1"><a href="#" onclick="deleteItem('@item.ExpenseId')" data-toggle="tooltip" title="Delete"><i class="far fa-trash-alt red-text"></i></a></span>*@

                                                </div>


                                            </td>

                                        </tr>
                            k++;
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts {

    <script>
        $(document).ready(function () { 
          

             function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

             $('#disburse').val(numberWithCommas('@sum') + " to disburse ");
            $('#dtBasicExample').DataTable(); 

            $('.dataTables_length').hide();
            $('#dtBasicExample_filter').hide();

            $('#btnLoad').on("click", function () {
                
                var selClient = localStorage["_ClientID_"];
                var selProd = localStorage["_ProductID_"];
                var selProdItemId = localStorage["_ProductItemID_"];

                if (selClient === null || selClient === "" || parseInt(selClient) < 1) {
                    InlineErrorMessage("Session Time out please try logging out and login !", "dvError");
                    return false;
                }

                if (selProd === null || selProd === "" || parseInt(selProd) < 1) {
                    InlineErrorMessage("Session Time out please try logging out and login!", "dvError");
                    return false;
                }
                //alert(selProdItemId);
                //if (selProdItemId === null || selProdItemId === "" || parseInt(selProdItemId) < 1) {
                //    InlineErrorMessage("Session Time out please try logging out and login!", "dvError");
                //    return false;
                //}

                
                var url = '@Url.Action("Index", "ExpenseManager")?clientId=' + parseInt(selClient) + "&productId=" + parseInt(selProd) + "&productItemId=" + parseInt(selProdItemId);

                $("#waitAdd").show();

                window.location.href = url;

                $("#waitAdd").hide();

            });

        });
    </script>





    <script>
        function deleteItem(id) {
            if (id === "" || parseInt(id) < 1) {
                InlineErrorMessage(data.Error ? data.Error : "Invalid Selection!", "dvError");
                return false;
            }
            if (!confirm("Are you sure you want to delete this item?")) {
                return false;
            }


            $.ajax({
                type: "POST",
                url: '@Url.Action("ProcessDeleteRequest", "ExpenseManager")',
                data: { ExpenseId: parseInt(id) }, //JSON.stringify(),
                success: function (data) {
                    if (!data.IsAuthenticated) {
                        window.location.href = "@Url.Action("Login", "Portal")";
                        return;
                    }
                    if (!data.IsSuccessful) {
                        InlineErrorMessage(data.Error ? data.Error : "Unknown error occured. Please try again later!", "dvError");
                        swal({
                            title: "",
                            text: data.Error ? data.Error : "Unknown error occured. Please try again later!",
                            type: "error",
                            showCancelButton: false,
                            confirmButtonText: "Close",
                            closeOnConfirm: true,
                        }, function (isConfirm) {
                            if (isConfirm) {

                            }
                        });

                    } else {
                        $('#dvModal').modal('hide');
                        swal({
                            title: "",
                            text: "Expense Information was deleted successfully",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonText: "Ok",
                            closeOnConfirm: false,
                        }, function (isConfirm) {
                            if (isConfirm) {
                                window.location.reload();
                            }
                        });
                    }
                },
                complete: function () {
                    // $("#waitAdd").hide();

                }
            });
            return false;
        }
    </script>

    
}