@model JetSetupPortalHelper.APIObjs.AppStatsObj
@{
    ViewBag.Title = "Dashboard";
    ViewBag.PgTitle = "Dashboard";
}


<div class="page-body">
    <div class="row">
        <div class="col-md-12 col-xl-4">
            <!-- table card start -->
            <div class="card table-card">
                <div class="">
                    <div class="row-table">
                        <div class="col-sm-6 card-block-big card-block-sm br">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <i class="icofont icofont-eye-alt text-success"></i>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <h5>
                                        @{
                                            var pReg = Model.AppStageStats.Where(c => c.Item == (int)AppCurrentStage.PreRegistration).FirstOrDefault();
                                        }
                                        @(pReg == null ? 0 : pReg.Count)
                                    </h5>
                                    <span>@AppCurrentStage.PreRegistration.ToString()</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 card-block-big card-block-sm">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <i class="icofont icofont-ui-music text-danger"></i>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <h5>
                                        @{
                                            var bioData = Model.AppStageStats.Where(c => c.Item == (int)AppCurrentStage.BioData).FirstOrDefault();
                                        }
                                        @(bioData == null ? 0 : bioData.Count)
                                    </h5>
                                    <span>@AppCurrentStage.BioData.ToString()</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="row-table">
                        <div class="col-sm-6 card-block-big card-block-sm br">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <i class="icofont icofont-files text-info"></i>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <h5>
                                        @{
                                            var jEdu = Model.AppStageStats.Where(c => c.Item == (int)AppCurrentStage.JuniorEducation).FirstOrDefault();
                                        }
                                        @(jEdu == null ? 0 : jEdu.Count)
                                    </h5>
                                    <span>Junior&nbsp;Education</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 card-block-big card-block-sm">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <i class="icofont icofont-envelope-open text-warning"></i>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <h5>
                                        @{
                                            var oLevel = Model.AppStageStats.Where(c => c.Item == (int)AppCurrentStage.OLevelResult).FirstOrDefault();
                                        }
                                        @(oLevel == null ? 0 : oLevel.Count)
                                    </h5>
                                    <span>OLevel&nbsp;Result</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- table card end -->
        </div>
        <div class="col-md-12 col-xl-4">
            <!-- table card start -->
            <div class="card table-card">
                <div class="">
                    <div class="row-table">
                        <div class="col-sm-6 card-block-big card-block-sm br">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <div id="barchart" style="height:30px;width:30px;"></div>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <h5>
                                        @{
                                            var hEdu = Model.AppStageStats.Where(c => c.Item == (int)AppCurrentStage.HigherEducation).FirstOrDefault();
                                        }
                                        @(hEdu == null ? 0 : hEdu.Count)
                                    </h5>
                                    <span>Higher&nbsp;Education</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 card-block-big card-block-sm">
                            <div class="row ">
                                <div class="col-sm-4">
                                    <i class="icofont icofont-network text-primary"></i>
                                </div>
                                <div class="col-sm-8 text-center">
                                    <h5>
                                        @{
                                            var nysc = Model.AppStageStats.Where(c => c.Item == (int)AppCurrentStage.NYSC).FirstOrDefault();
                                        }
                                        @(nysc == null ? 0 : nysc.Count)
                                    </h5>
                                    <span>@AppCurrentStage.NYSC.ToString()</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="row-table">
                        <div class="col-sm-6 card-block-big card-block-sm br">
                            <div class="row ">
                                <div class="col-sm-12 text-center">
                                    <div id="barchart2" style="height:30px;width:30px;"></div>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <h5>
                                        @{
                                            var pCert = Model.AppStageStats.Where(c => c.Item == (int)AppCurrentStage.Professional_Certification).FirstOrDefault();
                                        }
                                        @(pCert == null ? 0 : pCert.Count)
                                    </h5>
                                    <span>Prof.&nbsp;Certs</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 card-block-big card-block-sm">
                            <div class="row ">
                                <div class="col-sm-4">
                                    <i class="icofont icofont-trophy text-primary"></i>
                                </div>
                                <div class="col-sm-8 text-center">
                                    <h5>
                                        @{
                                            var award = Model.AppStageStats.Where(c => c.Item == (int)AppCurrentStage.Award).FirstOrDefault();
                                        }
                                        @(award == null ? 0 : award.Count)
                                    </h5>
                                    <span>@AppCurrentStage.Award.ToString()</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- table card end -->
        </div>
        <div class="col-md-12 col-xl-4">

            <!-- table card start -->
            <div class="card table-card">
                <div class="">
                    <div class="row-table">
                        <div class="col-sm-6 card-block-big card-block-sm br">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <i class="icofont icofont-eye-alt text-success"></i>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <h5>
                                        @{
                                            var vt = Model.AppStageStats.Where(c => c.Item == (int)AppCurrentStage.Volunteer).FirstOrDefault();
                                        }
                                        @(vt == null ? 0 : vt.Count)
                                    </h5>
                                    <span>@AppCurrentStage.Volunteer.ToString()</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 card-block-big card-block-sm">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <i class="icofont icofont-ui-music text-danger"></i>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <h5>
                                        @{
                                            var qtn = Model.AppStageStats.Where(c => c.Item == (int)AppCurrentStage.Questionnaire).FirstOrDefault();
                                        }
                                        @(qtn == null ? 0 : qtn.Count)
                                    </h5>
                                    <span>@AppCurrentStage.Questionnaire.ToString()</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="row-table">
                        <div class="col-sm-6 card-block-big card-block-sm br">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <i class="icofont icofont-files text-info"></i>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <h5>
                                        @{
                                            var wExp = Model.AppStageStats.Where(c => c.Item == (int)AppCurrentStage.WorkExperience).FirstOrDefault();
                                        }
                                        @(wExp == null ? 0 : wExp.Count)
                                    </h5>
                                    <span>Work&nbsp;Experience</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 card-block-big card-block-sm">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <i class="icofont icofont-envelope-open text-warning"></i>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <h5>
                                        @{
                                            var passport = Model.AppStageStats.Where(c => c.Item == (int)AppCurrentStage.Passport).FirstOrDefault();
                                        }
                                        @(passport == null ? 0 : passport.Count)
                                    </h5>
                                    <span>@AppCurrentStage.Passport.ToString()</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- table card end -->

        </div>


        <div class="col-md-12 col-xl-6">
            <!-- table card start -->
            <div class="card table-card">
                <div class="">
                    <div class="row-table">
                        <div class="col-sm-6 card-block-big card-block-sm br">
                            <div class="row">
                                <div class="col-sm-4 pl-5">
                                    <i class="icofont icofont-eye-alt text-success"></i>
                                </div>
                                <div class="col-sm-8 text-center">
                                    <h5>
                                        @{
                                            var submission = Model.AppStageStats.Where(c => c.Item == (int)AppCurrentStage.Submission).FirstOrDefault();
                                        }
                                        @(submission == null ? 0 : submission.Count)
                                    </h5>
                                    <span>@AppCurrentStage.Submission.ToString()</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 card-block-big card-block-sm">
                            <div class="row">
                                <div class="col-sm-4 pl-5">
                                    <i class="icofont icofont-ui-music text-danger"></i>
                                </div>
                                <div class="col-sm-8 text-center">
                                    <h5>
                                        @{
                                            var sorted = Model.AppStageStats.Where(c => c.Item == (int)AppCurrentStage.Sorted).FirstOrDefault();
                                        }
                                        @(sorted == null ? 0 : sorted.Count)
                                    </h5>
                                    <span>@AppCurrentStage.Sorted.ToString()</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="row-table">
                        <div class="col-sm-6 card-block-big card-block-sm br">
                            <div class="row">
                                <div class="col-sm-4 pl-5">
                                    <i class="icofont icofont-files text-info"></i>
                                </div>
                                <div class="col-sm-8 text-center">
                                    <h5>
                                        @{
                                            var filtered = Model.AppStageStats.Where(c => c.Item == (int)AppCurrentStage.Filtered).FirstOrDefault();
                                        }
                                        @(filtered == null ? 0 : filtered.Count)
                                    </h5>
                                    <span>@AppCurrentStage.Filtered.ToString()</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 card-block-big card-block-sm">
                            <div class="row">
                                <div class="col-sm-4 pl-5">
                                    <i class="icofont icofont-envelope-open text-warning"></i>
                                </div>
                                <div class="col-sm-8 text-center">
                                    <h5>
                                        @{
                                            var eComp = Model.AppStageStats.Where(c => c.Item == (int)AppCurrentStage.ExamCompleted).FirstOrDefault();
                                        }
                                        @(eComp == null ? 0 : eComp.Count)
                                    </h5>
                                    <span>Exam&nbsp;Completed</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- table card end -->
        </div>
        <div class="col-md-12 col-xl-6">
            <!-- table card start -->
            <div class="card table-card">
                <div class="">
                    <div class="row-table">
                        <div class="col-sm-6 card-block-big card-block-sm br">
                            <div class="row">
                                <div class="col-sm-4 pl-5">
                                    <i class="icofont icofont-cassette text-danger"></i>
                                </div>
                                <div class="col-sm-8 text-center">
                                    <h5>
                                        @{
                                            var pExam = Model.AppStageStats.Where(c => c.Item == (int)AppCurrentStage.PassedExam).FirstOrDefault();
                                        }
                                        @(pExam == null ? 0 : pExam.Count)
                                    </h5>
                                    <span>Passed&nbsp;Exam</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 card-block-big card-block-sm">
                            <div class="row ">
                                <div class="col-sm-4 pl-5">
                                    <i class="icofont icofont-network text-primary"></i>
                                </div>
                                <div class="col-sm-8 text-center">
                                    <h5>
                                        @{
                                            var rUP = Model.AppStageStats.Where(c => c.Item == (int)AppCurrentStage.ResumeUploaded).FirstOrDefault();
                                        }
                                        @(rUP == null ? 0 : rUP.Count)
                                    </h5>
                                    <span>Resume&nbsp;Uploaded</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="row-table">
                        <div class="col-sm-6 card-block-big card-block-sm br">
                            <div class="row ">
                                <div class="col-sm-4 pl-5">
                                    <i class="icofont icofont-upload text-danger"></i>
                                </div>
                                <div class="col-sm-8 text-center">
                                    <h5>
                                        @{
                                            var eUP = Model.AppStageStats.Where(c => c.Item == (int)AppCurrentStage.EssayUploaded).FirstOrDefault();
                                        }
                                        @(eUP == null ? 0 : eUP.Count)
                                    </h5>
                                    <span>Essay&nbsp;Uploaded</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 card-block-big card-block-sm">
                            <div class="row ">
                                <div class="col-sm-4 pl-5">
                                    <i class="icofont icofont-trophy text-primary"></i>
                                </div>
                                <div class="col-sm-8 text-center">
                                    <h5>
                                        @{
                                            var doc = Model.AppStageStats.Where(c => c.Item == (int)AppCurrentStage.DocumentSubmitted).FirstOrDefault();
                                        }
                                        @(doc == null ? 0 : doc.Count)
                                    </h5>
                                    <span style="font-size: 11px;">Document&nbsp;Submitted</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- table card end -->
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="card social-widget-card">
                <div class="card-block-big bg-facebook">
                    <h3>
                        @{
                            var male = Model.GenderStats.Where(c => c.Item == (int)Gender.Male).FirstOrDefault();
                        }
                        @(male == null ? 0 : male.Count)
                    </h3>
                    <span class="m-t-10">Male Applicants</span>
                    <i class="icofont icofont-male"></i>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card social-widget-card">
                <div class="card-block-big bg-twitter">
                    <h3>
                        @{
                            var female = Model.GenderStats.Where(c => c.Item == (int)Gender.Female).FirstOrDefault();
                        }
                        @(female == null ? 0 : female.Count)
                    </h3>
                    <span class="m-t-10">Female Applicants</span>
                    <i class="icofont icofont-female"></i>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card social-widget-card">
                <div class="card-block-big bg-linkein">
                    <h3>
                        @{
                            var nig = Model.CountryStats.Where(c => c.Item == (int)CountryEnum.Nigeria).FirstOrDefault();
                        }
                        @(nig == null ? 0 : nig.Count)
                    </h3>
                    <span class="m-t-10">Nigerian Aplicants</span>
                    <i class="icofont icofont-usb"></i>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card social-widget-card">
                <div class="card-block-big bg-google-plus">
                    <h3>
                        @{
                            var gh = Model.CountryStats.Where(c => c.Item == (int)CountryEnum.Ghana).FirstOrDefault();
                        }
                        @(gh == null ? 0 : gh.Count)
                    </h3>
                    <span class="m-t-10">Ghanian Applicants</span>
                    <i class="icofont icofont-chart-bar-graph"></i>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <!-- widget primary card start -->
            <div class="card table-card widget-primary-card" style="margin-bottom: 5px !important;">
                <div class="">
                    <div class="row-table">
                        <div class="col-sm-3 card-block-big">
                            <i class="icofont icofont-male"></i>
                        </div>
                        <div class="col-sm-9">
                            <h4>
                                @{
                                    var reg = Model.AppTypeStats.Where(c => c.Item == (int)AppType.Regular).FirstOrDefault();
                                }
                                @(reg == null ? 0 : reg.Count)
                            </h4>
                            <h6>Regular Applicants</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- widget primary card end -->
            <!-- widget-success-card start -->
            <div class="card table-card widget-success-card">
                <div class="">
                    <div class="row-table">
                        <div class="col-sm-3 card-block-big">
                            <i class="icofont icofont-female"></i>
                        </div>
                        <div class="col-sm-9">
                            <h4>
                                @{
                                    var nominated = Model.AppTypeStats.Where(c => c.Item == (int)AppType.Nomination).FirstOrDefault();
                                }
                                @(nominated == null ? 0 : nominated.Count)
                            </h4>
                            <h6>Nominated Applicants</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- widget-success-card end -->
        </div>

        <div class="col-lg-4">
            <!-- widget primary card start -->
            <div class="card table-card widget-success-card" style="margin-bottom: 5px !important;">
                <div class="">
                    <div class="row-table">
                        <div class="col-sm-3 card-block-big">
                            <i class="icofont icofont-web"></i>
                        </div>
                        <div class="col-sm-9">
                            <h4>
                                @{
                                    var web = Model.RegChannelStats.Where(c => c.Item == (int)Channel.Web).FirstOrDefault();
                                }
                                @(web == null ? 0 : web.Count)
                            </h4>
                            <h6>WEB</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- widget primary card end -->
            <!-- widget-success-card start -->
            <div class="card table-card widget-primary-card">
                <div class="">
                    <div class="row-table">
                        <div class="col-sm-3 card-block-big">
                            <i class="icofont icofont-smart-phone"></i>
                        </div>
                        <div class="col-sm-9">
                            <h4>
                                @{
                                    var mobile = Model.RegChannelStats.Where(c => c.Item == (int)Channel.Mobile).FirstOrDefault();
                                }
                                @(mobile == null ? 0 : mobile.Count)
                            </h4>
                            <h6>MOBILE</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- widget-success-card end -->
        </div>








        <div class="col-lg-6">
            <div class="card">
                <div class="card-block">
                    <div id="chartdiv"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-block">
                    <div class="cd-horizontal-timeline">
                        <div class="timeline">
                            <div class="events-wrapper">
                                <div class="events">
                                    <ol>
                                        <li><a href="#0" data-date="16/01/2014" class="selected">16 Jan</a></li>
                                        <li><a href="#0" data-date="28/02/2014">28 Feb</a></li>
                                        <li><a href="#0" data-date="20/04/2014">20 Mar</a></li>
                                        <li><a href="#0" data-date="20/05/2014">20 May</a></li>
                                        <li><a href="#0" data-date="09/07/2014">09 Jul</a></li>
                                        <li><a href="#0" data-date="30/08/2014">30 Aug</a></li>
                                        <li><a href="#0" data-date="15/09/2014">15 Sep</a></li>
                                        <li><a href="#0" data-date="01/11/2014">01 Nov</a></li>
                                        <li><a href="#0" data-date="10/12/2014">10 Dec</a></li>
                                        <li><a href="#0" data-date="19/01/2015">29 Jan</a></li>
                                        <li><a href="#0" data-date="03/03/2015">3 Mar</a></li>
                                    </ol>
                                    <span class="filling-line" aria-hidden="true"></span>
                                </div>
                                <!-- .events -->
                            </div>
                            <!-- .events-wrapper -->
                            <ul class="cd-timeline-navigation">
                                <li><a href="#0" class="prev inactive">Prev</a></li>
                                <li><a href="#0" class="next">Next</a></li>
                            </ul>
                            <!-- .cd-timeline-navigation -->
                        </div>
                        <!-- .timeline -->
                        <div class="events-content">
                            <ol>
                                <li class="selected" data-date="16/01/2014">
                                    <h2>Horizontal Timeline</h2>
                                    <em>January 16th, 2014</em>
                                    <p class="m-b-0">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                                        reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.Illum praesentium officia, fugit recusandae ipsa, quia
                                        velit nulla adipisci? Consequuntur aspernatur at,
                                    </p>
                                    <div class="m-t-20 d-timeline-btn">
                                        <button class="btn btn-danger">Read More</button>
                                        <button class="btn btn-primary f-right"><i class="icofont icofont-plus m-r-0"></i></button>
                                    </div>
                                </li>
                                <li data-date="28/02/2014">
                                    <h2>Event title here</h2>
                                    <em>February 28th, 2014</em>
                                    <p class="m-b-0">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                                        reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.Illum praesentium officia, fugit recusandae ipsa, quia
                                        velit nulla adipisci? Consequuntur aspernatur at,
                                    </p>
                                    <div class="m-t-20 d-timeline-btn">
                                        <button class="btn btn-danger">Read More</button>
                                        <button class="btn btn-primary f-right"><i class="icofont icofont-plus m-r-0"></i></button>
                                    </div>
                                </li>
                                <li data-date="20/04/2014">
                                    <h2>Event title here</h2>
                                    <em>March 20th, 2014</em>
                                    <p class="m-b-0">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                                        reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.Illum praesentium officia, fugit recusandae ipsa, quia
                                        velit nulla adipisci? Consequuntur aspernatur at,
                                    </p>
                                    <div class="m-t-20 d-timeline-btn">
                                        <button class="btn btn-danger">Read More</button>
                                        <button class="btn btn-primary f-right"><i class="icofont icofont-plus m-r-0"></i></button>
                                    </div>
                                </li>
                                <li data-date="20/05/2014">
                                    <h2>Event title here</h2>
                                    <em>May 20th, 2014</em>
                                    <p class="m-b-0">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                                        reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.Illum praesentium officia, fugit recusandae ipsa, quia
                                        velit nulla adipisci? Consequuntur aspernatur at,
                                    </p>
                                    <div class="m-t-20 d-timeline-btn">
                                        <button class="btn btn-danger">Read More</button>
                                        <button class="btn btn-primary f-right"><i class="icofont icofont-plus m-r-0"></i></button>
                                    </div>
                                </li>
                                <li data-date="09/07/2014">
                                    <h2>Event title here</h2>
                                    <em>July 9th, 2014</em>
                                    <p class="m-b-0">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                                        reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.Illum praesentium officia, fugit recusandae ipsa, quia
                                        velit nulla adipisci? Consequuntur aspernatur at,
                                    </p>
                                    <div class="m-t-20 d-timeline-btn">
                                        <button class="btn btn-danger">Read More</button>
                                        <button class="btn btn-primary f-right"><i class="icofont icofont-plus m-r-0"></i></button>
                                    </div>
                                </li>
                                <li data-date="30/08/2014">
                                    <h2>Event title here</h2>
                                    <em>August 30th, 2014</em>
                                    <p class="m-b-0">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                                        reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.Illum praesentium officia, fugit recusandae ipsa, quia
                                        velit nulla adipisci? Consequuntur aspernatur at,
                                    </p>
                                    <div class="m-t-20 d-timeline-btn">
                                        <button class="btn btn-danger">Read More</button>
                                        <button class="btn btn-primary f-right"><i class="icofont icofont-plus m-r-0"></i></button>
                                    </div>
                                </li>
                                <li data-date="15/09/2014">
                                    <h2>Event title here</h2>
                                    <em>September 15th, 2014</em>
                                    <p class="m-b-0">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                                        reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.Illum praesentium officia, fugit recusandae ipsa, quia
                                        velit nulla adipisci? Consequuntur aspernatur at,
                                    </p>
                                    <div class="m-t-20 d-timeline-btn">
                                        <button class="btn btn-danger">Read More</button>
                                        <button class="btn btn-primary f-right"><i class="icofont icofont-plus m-r-0"></i></button>
                                    </div>
                                </li>
                                <li data-date="01/11/2014">
                                    <h2>Event title here</h2>
                                    <em>November 1st, 2014</em>
                                    <p class="m-b-0">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                                        reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.Illum praesentium officia, fugit recusandae ipsa, quia
                                        velit nulla adipisci? Consequuntur aspernatur at,
                                    </p>
                                    <div class="m-t-20 d-timeline-btn">
                                        <button class="btn btn-danger">Read More</button>
                                        <button class="btn btn-primary f-right"><i class="icofont icofont-plus m-r-0"></i></button>
                                    </div>
                                </li>
                                <li data-date="10/12/2014">
                                    <h2>Event title here</h2>
                                    <em>December 10th, 2014</em>
                                    <p class="m-b-0">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                                        reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.Illum praesentium officia, fugit recusandae ipsa, quia
                                        velit nulla adipisci? Consequuntur aspernatur at,
                                    </p>
                                    <div class="m-t-20 d-timeline-btn">
                                        <button class="btn btn-danger">Read More</button>
                                        <button class="btn btn-primary f-right"><i class="icofont icofont-plus m-r-0"></i></button>
                                    </div>
                                </li>
                                <li data-date="19/01/2015">
                                    <h2>Event title here</h2>
                                    <em>January 19th, 2015</em>
                                    <p class="m-b-0">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                                        reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.Illum praesentium officia, fugit recusandae ipsa, quia
                                        velit nulla adipisci? Consequuntur aspernatur at,
                                    </p>
                                    <div class="m-t-20 d-timeline-btn">
                                        <button class="btn btn-danger">Read More</button>
                                        <button class="btn btn-primary f-right"><i class="icofont icofont-plus m-r-0"></i></button>
                                    </div>
                                </li>
                                <li data-date="03/03/2015">
                                    <h2>Event title here</h2>
                                    <em>March 3rd, 2015</em>
                                    <p class="m-b-0">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                                        reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.Illum praesentium officia, fugit recusandae ipsa, quia
                                        velit nulla adipisci? Consequuntur aspernatur at,
                                    </p>
                                    <div class="m-t-20 d-timeline-btn">
                                        <button class="btn btn-danger">Read More</button>
                                        <button class="btn btn-primary f-right"><i class="icofont icofont-plus m-r-0"></i></button>
                                    </div>
                                </li>
                            </ol>
                        </div>
                        <!-- .events-content -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-border-primary">
                        <div class="card-header">
                            <h5>John Doe </h5>
                            <!-- <span class="label label-default f-right"> 28 January, 2015 </span> -->
                            <div class="dropdown-secondary dropdown f-right">
                                <button class="btn btn-primary btn-mini dropdown-toggle waves-effect waves-light" type="button" id="dropdown6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Overdue</button>
                                <div class="dropdown-menu" aria-labelledby="dropdown6" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                    <a class="dropdown-item waves-light waves-effect" href="#!"><span class="point-marker bg-danger"></span>Pending</a>
                                    <a class="dropdown-item waves-light waves-effect" href="#!"><span class="point-marker bg-warning"></span>Paid</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item waves-light waves-effect active" href="#!"><span class="point-marker bg-success"></span>On Hold</a>
                                    <a class="dropdown-item waves-light waves-effect" href="#!"><span class="point-marker bg-info"></span>Canceled</a>
                                </div>
                                <!-- end of dropdown menu -->
                                <span class="f-left m-r-5 text-inverse">Status : </span>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list list-unstyled">
                                        <li>Invoice #: &nbsp;0028</li>
                                        <li>Issued on: <span class="text-semibold">2015/01/25</span></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list list-unstyled text-right">
                                        <li>$8,750</li>
                                        <li>Method: <span class="text-semibold">Paypal</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="task-list-table">
                                <p class="task-due"><strong> Due : </strong><strong class="label label-success">23 hours</strong></p>
                            </div>
                            <div class="task-board m-0">
                                <a href="http://html.phoenixcoded.net/flatable/html/invoice.html" class="btn btn-info btn-mini b-none"><i class="icofont icofont-eye-alt m-0"></i></a>
                                <!-- end of dropdown-secondary -->
                                <div class="dropdown-secondary dropdown">
                                    <button class="btn btn-info btn-mini dropdown-toggle waves-light b-none txt-muted" type="button" id="dropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont icofont-navigation-menu"></i></button>
                                    <div class="dropdown-menu" aria-labelledby="dropdown3" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                        <a class="dropdown-item waves-light waves-effect" href="#!"><i class="icofont icofont-ui-alarm"></i> Print Invoice</a>
                                        <a class="dropdown-item waves-light waves-effect" href="#!"><i class="icofont icofont-attachment"></i> Download invoice</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item waves-light waves-effect" href="#!"><i class="icofont icofont-spinner-alt-5"></i> Edit Invoice</a>
                                        <a class="dropdown-item waves-light waves-effect" href="#!"><i class="icofont icofont-ui-edit"></i> Remove Invoice</a>
                                    </div>
                                    <!-- end of dropdown menu -->
                                </div>
                                <!-- end of seconadary -->
                            </div>
                            <!-- end of pull-right class -->
                        </div>
                        <!-- end of card-footer -->
                    </div>
                </div>
                <div class="col-lg-12">
                    <!-- Invoice list card start -->
                    <div class="card card-border-primary">
                        <div class="card-header">
                            <h5>John Doe </h5>
                            <!-- <span class="label label-default f-right"> 28 January, 2015 </span> -->
                            <div class="dropdown-secondary dropdown f-right">
                                <button class="btn btn-primary btn-mini dropdown-toggle waves-effect waves-light" type="button" id="dropdown12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Overdue</button>
                                <div class="dropdown-menu" aria-labelledby="dropdown12" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                    <a class="dropdown-item waves-light waves-effect" href="#!"><span class="point-marker bg-danger"></span>Pending</a>
                                    <a class="dropdown-item waves-light waves-effect" href="#!"><span class="point-marker bg-warning"></span>Paid</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item waves-light waves-effect active" href="#!"><span class="point-marker bg-success"></span>On Hold</a>
                                    <a class="dropdown-item waves-light waves-effect" href="#!"><span class="point-marker bg-info"></span>Canceled</a>
                                </div>
                                <!-- end of dropdown menu -->
                                <span class="f-left m-r-5 text-inverse">Status : </span>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list list-unstyled">
                                        <li>Invoice #: &nbsp;0028</li>
                                        <li>Issued on: <span class="text-semibold">2015/01/25</span></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list list-unstyled text-right">
                                        <li>$8,750</li>
                                        <li>Method: <span class="text-semibold">Paypal</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="task-list-table">
                                <p class="task-due"><strong> Due : </strong><strong class="label label-warning">23 hours</strong></p>
                            </div>
                            <div class="task-board m-0">
                                <a href="http://html.phoenixcoded.net/flatable/html/invoice.html" class="btn btn-info btn-mini b-none"><i class="icofont icofont-eye-alt m-0"></i></a>
                                <!-- end of dropdown-secondary -->
                                <div class="dropdown-secondary dropdown">
                                    <button class="btn btn-info btn-mini dropdown-toggle waves-light b-none txt-muted" type="button" id="dropdown8" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont icofont-navigation-menu"></i></button>
                                    <div class="dropdown-menu" aria-labelledby="dropdown8" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                        <a class="dropdown-item waves-light waves-effect" href="#!"><i class="icofont icofont-ui-alarm"></i> Print Invoice</a>
                                        <a class="dropdown-item waves-light waves-effect" href="#!"><i class="icofont icofont-attachment"></i> Download invoice</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item waves-light waves-effect" href="#!"><i class="icofont icofont-spinner-alt-5"></i> Edit Invoice</a>
                                        <a class="dropdown-item waves-light waves-effect" href="#!"><i class="icofont icofont-ui-edit"></i> Remove Invoice</a>
                                    </div>
                                    <!-- end of dropdown menu -->
                                </div>
                                <!-- end of seconadary -->
                            </div>
                            <!-- end of pull-right class -->
                        </div>
                        <!-- end of card-footer -->
                    </div>
                    <!-- Invoice list card end -->
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-primary btn-sm">Week</button>
                    <button class="btn btn-primary btn-sm">Month</button>
                    <button class="btn btn-primary btn-sm">Year</button>
                </div>
                <div class="card-block">
                    <div id="morris-extra-area"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card table-1-card">
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr class="text-capitalize">
                                            <th>Type</th>
                                            <th>Lead Name</th>
                                            <th>Views</th>
                                            <th>Favourites</th>
                                            <th>Last Visit</th>
                                            <th>Last Action</th>
                                            <th>Last Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a href="#!">Buyer</a>
                                            </td>
                                            <td>Denish Ann</td>
                                            <td>153</td>
                                            <td>100</td>
                                            <td>20</td>
                                            <td>9.23 A.M.</td>
                                            <td>9/27/2015</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="text-danger" href="#!">Lanload</a>
                                            </td>
                                            <td>John Doe</td>
                                            <td>121</td>
                                            <td>100</td>
                                            <td>20</td>
                                            <td>6.23 A.M.</td>
                                            <td>8/27/2015</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#!">Buyer</a>
                                            </td>
                                            <td>Henry Joe</td>
                                            <td>154</td>
                                            <td>140</td>
                                            <td>30</td>
                                            <td>7.54 P.M.</td>
                                            <td>4/30/2015</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="text-danger" href="#!">Lanload</a>
                                            </td>
                                            <td>Sara Soudein</td>
                                            <td>153</td>
                                            <td>100</td>
                                            <td>20</td>
                                            <td>9.23 A.M.</td>
                                            <td>5/20/2016</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#!">Buyer</a>
                                            </td>
                                            <td>Denish Ann</td>
                                            <td>153</td>
                                            <td>100</td>
                                            <td>20</td>
                                            <td>9.23 A.M.</td>
                                            <td>3/26/2015</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="text-info" href="#!">Lanload</a>
                                            </td>
                                            <td>Stefen Joe</td>
                                            <td>153</td>
                                            <td>100</td>
                                            <td>20</td>
                                            <td>11.45 A.M.</td>
                                            <td>5/20/2017</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#!">Buyer</a>
                                            </td>
                                            <td>Mark Backlus</td>
                                            <td>153</td>
                                            <td>100</td>
                                            <td>20</td>
                                            <td>12.40 A.M.</td>
                                            <td>3/27/2017</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card table-card group-widget">
                        <div class="">
                            <div class="row-table">
                                <div class="col-sm-4 bg-primary card-block-big">
                                    <i class="icofont icofont-music"></i>
                                    <p>1,586</p>
                                </div>
                                <div class="col-sm-4 bg-dark-primary card-block-big">
                                    <i class="icofont icofont-video-clapper"></i>
                                    <p>1,743</p>
                                </div>
                                <div class="col-sm-4 bg-darkest-primary card-block-big">
                                    <i class="icofont icofont-email"></i>
                                    <p>1,096</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card widget-chat-box">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-2">
                            <i class="icofont icofont-navigation-menu pop-up"></i>
                        </div>
                        <div class="col-sm-8 text-center">
                            <h5>
                                John Henry
                            </h5>
                        </div>
                        <div class="col-sm-2 text-right">
                            <i class="icofont icofont-ui-edit"></i>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <p class="text-center">12:05 A.M.</p>
                    <div class="media">
                        <img class="d-flex mr-3 img-circle img-40 img-thumbnail" src="~/Content/assets/images/user-card/img-round1.jpg" alt="Generic placeholder image">
                        <div class="media-body send-chat">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at
                            <span class="time">3 min ago</span>
                        </div>
                    </div>
                    <div class="media col-sm-8 offset-md-4">
                        <div class="media-body  receive-chat">
                            Cras sit amet nibh libero, in gravida nulla.vel metus scelerisque ante
                            <span class="time">
                                <i class="icofont icofont-check m-r-5"></i>Seen 2 sec ago
                            </span>
                        </div>
                    </div>
                    <div class="media">
                        <img class="d-flex mr-3 img-circle img-40 img-thumbnail" src="~/Content/assets/images/user-card/img-round1.jpg" alt="Generic placeholder image">
                        <div class="media-body send-chat">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at
                            <span class="time">3 min ago</span>
                        </div>
                    </div>
                    <div class="media col-sm-8 offset-md-4">
                        <div class="media-body  receive-chat">
                            Cras sit amet nibh libero, in gravida nulla.Vel metus scelerisque ante
                            <span class="time">
                                <i class="icofont icofont-check m-r-5"></i>Seen 2 sec ago
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="text" class="form-control" placeholder="Your Message">
                </div>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <!-- Rickshow Chart js -->
    <script src="~/Content/assets/js/d3/d3.js"></script>
    <script src="~/Content/assets/js/rickshaw/rickshaw.js"></script>
    <!-- Morris Chart js -->
    <script src="~/Content/assets/js/raphael/raphael.min.js"></script>
    <script src="~/Content/assets/js/morris/morris.js"></script>
    <!-- Horizontal-Timeline js -->
    <script type="text/javascript" src="~/Content/assets/pages/dashboard/horizontal-timeline/js/main.js"></script>


    <script type="text/javascript" src="~/Content/assets/pages/dashboard/horizontal-timeline/js/main.js"></script>
    <script type="text/javascript" src="~/Content/assets/pages/dashboard/amchart/js/amcharts.js"></script>
    <script type="text/javascript" src="~/Content/assets/pages/dashboard/amchart/js/serial.js"></script>
    <script type="text/javascript" src="~/Content/assets/pages/dashboard/amchart/js/light.js"></script>
    <script type="text/javascript" src="~/Content/assets/pages/dashboard/amchart/js/custom-amchart.js"></script>
    <script type="text/javascript" src="~/Content/assets/pages/dashboard/amchart/js/custom-amchart.js"></script>

    <script type="text/javascript" src="~/Content/assets/pages/dashboard/custom-dashboard.js"></script>
}