@using XPLUG.WEBTOOLKIT
@model IEnumerable<GlobalLitePortalHelper.APIObjs.AlertTypeObj>
@{
    ViewBag.Title = "Alert Type";
    ViewBag.PgTitle = "Alert Type Management";
    var error = ViewBag.Error as string;
}
<div>
    <h5>Registered Alert Types</h5>
</div>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6 text-right">
                <a class="btn btn-success btn-sm waves-effect waves-light d-inline-block md-trigger" href="@Url.Action("_AddAlertType", "AlertTypeManager")" data-modal="">
                    <i class="icofont icofont-plus m-r-5"></i>New Alert Type
                </a>
            </div>
        </div>
    </div>
    <div class="card-block">
        @if (!string.IsNullOrEmpty(error) && error.Length > 0)
        {
            <div class="alert alert-success btn btn-sm" role="alert">
                @Html.Raw(error)
            </div>
        }
        <div class="table-responsive">
            <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th> Provider</th>
                        <th> Title</th>
                        <th> Code</th>
                        <th> Service Codes</th>
                        <th>Status</th>
                        <th class="tabledit-toolbar-column">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int k = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <th>@k</th>
                                <td>
                                    <span class="wrap-table">
                                        @item.AlertProviderName
                                    </span>
                                </td>
                                <td>
                                    <span class="wrap-table">
                                        @item.Title
                                    </span>
                                </td>
                                <td>
                                    <span class="wrap-table">
                                        @item.Code
                                    </span>
                                </td>
                                <td>
                                    <span class="wrap-table">
                                        @item.ServiceCodes
                                    </span>
                                </td>
                                <td>
                                    <span class="wrap-table">
                                        @item.StatusLabel
                                    </span>
                                </td>
                                <td>
                                    @if (item.AlertTypeId > 22)
                                    {
                                        <div class="tabledit-toolbar btn-toolbar">
                                            <span class="p-1"><a href="@Url.Action("_EditAlertType", "AlertTypeManager", new {id = item.AlertTypeId})" data-modal="" data-toggle="tooltip" title="Edit"><i class="far fa-edit"></i></a></span>
                                            <span class="p-1"><a href="@Url.Action("_AlertTypeDetail", "AlertTypeManager", new {id = item.AlertTypeId})" data-modal="" data-toggle="tooltip" title="Detail"> <i class="fas fa-eye"></i></a></span>
                                            @*<span class="p-1"><a href="#" onclick="deleteItem('@item.AlertTypeId')" data-toggle="tooltip" title="Delete"><i class="far fa-trash-alt red-text"></i></a></span>*@
                                        </div>
                                    }
                                   
                                </td>

                            </tr>
                            k++;
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts {

    <script>
       function deleteItem(itemId) {
            if (itemId === "" || parseInt(itemId) < 1) {
                InlineErrorMessage(data.Error ? data.Error : "Invalid Selection!", "dvError");
                return false;
            }
            if (!confirm("Are you sure you want to delete this item?")) {
                return false;
            }


            $.ajax({
                type: "POST",
                url: '@Url.Action("ProcessDeleteRequest", "AlertTypeManager")',
                data: { id: parseInt(itemId) }, //JSON.stringify(),
                success: function (data) {
                    if (!data.IsAuthenticated) {
                        window.location.href = "@Url.Action("Login", "Portal")";
                        return;
                    }
                    if (!data.IsSuccessful) {
                        InlineErrorMessage(data.Error ? data.Error : "Unknown error occured. Please try again later!", "dvError");
                        swal({
                            title: "",
                            text: data.Error ? data.Error : "Unknown error occured. Please try again later!",
                            type: "error",
                            showCancelButton: false,
                            confirmButtonText: "Close",
                            closeOnConfirm: true,
                        }, function (isConfirm) {
                            if (isConfirm) {

                            }
                        });

                    } else {
                        $('#dvModal').modal('hide');
                        swal({
                            title: "",
                            text: "Alert Type was deleted successfully",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonText: "Ok",
                            closeOnConfirm: false,
                        }, function (isConfirm) {
                            if (isConfirm) {
                                window.location.reload();
                            }
                        });
                    }
                },
                complete: function () {
                   // $("#waitAdd").hide();

                }
            });
            return false;
        }
    </script>
}