@model  GlobalLitePortal.PortalCore.Model.ChangePasswordContract
@{
    ViewBag.Title = "Change Password";
    ViewBag.AuthTitle = "Change Password";
    Layout = "~/Views/Shared/_AuthorizeLayout.cshtml";
    var error = ViewBag.Error as string;
}

@using (Html.BeginForm("ChangeFirstTimePassword", "Portal"))
{
    @Html.AntiForgeryToken()
    if (!string.IsNullOrEmpty(error) && error.Length > 0)
    {
        <div class="alert alert-danger" role="alert">
            @Html.Raw(error)
        </div>
    }

    @Html.HiddenFor(model => model.Username)
    @Html.HiddenFor(model => model.UserId)

    <div class="text-center p-3">
        <img src="~/Content/skin2/img/logo-n.png" alt="" width="130" />
    </div>
    <div style="font-weight: 200!important;color: #979797;padding: 20px 12px;font-size: 20px;">
        @ViewBag.AuthTitle
    </div>
    <div class="wrap-input100 validate-input" data-validate="Password is required">
        <input class="input100" type="password" name="OldPassword" id="OldPassword" placeholder="Current Password">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
        </span>
    </div>
    <div class="wrap-input100 validate-input" data-validate="Password is required">
        <input class="input100" type="password" name="NewPassword" id="NewPassword" placeholder="New Password">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
        </span>
    </div>
    <div class="wrap-input100 validate-input" data-validate="Password is required">
        <input class="input100" type="password" name="ConfirmPassword" id="ConfirmPassword" placeholder="Confirm Password">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
        </span>
    </div>
    <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit">
            Update Password
        </button>
    </div>
    <div class="text-center p-t-12">
        <span class="txt1">
            Return to
        </span>
        <a class="txt2" href="@Url.Action("Login", "Portal")">
            Login Page
        </a>
    </div>

    @*<div class="input-group">
                    <input type="password" id="OldPassword" name="OldPassword" class="form-control form-control-lg portal-log-form" placeholder="Current Password" aria-label="Old Password" required="">
                    <span class="md-line"></span>
                </div>
                <div class="input-group mt-1">
                    <input type="password" id="NewPassword" name="NewPassword" class="form-control form-control-lg portal-log-form" placeholder="New Password" aria-label="New Password" required="">
                    <span class="md-line"></span>
                </div>
            <div class="input-group mt-1">
                <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control form-control-lg portal-log-form" placeholder="Confirm Password" aria-label="Confirm Password" required="">
                <span class="md-line"></span>
            </div>
        <div class="row m-t-30 mt-2">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success btn-sm btn-md btn-block waves-effect text-center">Update Password</button>
            </div>
        </div>
    *@

}

