@model  GlobalLitePortal.PortalCore.Model.UserLoginContract
@{
    ViewBag.Title = "Login";
    ViewBag.AuthTitle = "Sign In";
    Layout = "~/Views/Shared/_AuthorizeLayout.cshtml";
    var error = ViewBag.Error as string;
}

@using (Html.BeginForm("Login", "Portal", FormMethod.Post, new { @class = "md-float-material" }))
{
    @Html.AntiForgeryToken()
    if (!string.IsNullOrEmpty(error) && error.Length > 0)
    {
        <div class="alert alert-danger" role="alert">
            @Html.Raw(error)
        </div>
    }



    @*<div class="input-group">
        <input type="email" id="Username" name="Username" class="form-control mb-4 portal-log-form" placeholder="Email Address" required="">
        <span class="md-line"></span>
    </div>
    <div class="input-group">
        <input type="password" class="form-control mb-4 portal-log-form" placeholder="Password" id="Password" name="Password" required="">
        <span class="md-line"></span>
    </div>
    <div class="row m-t-25 text-left">
        <div class="col-sm-12 col-xs-12 forgot-phone">
            <a href="@Url.Action("ForgotPassword", "Portal")" class="text-right f-w-600 text-inverse text-white"> Forgot Your Password?</a>
        </div>
    </div>
    <div class="row m-t-30">
        <div class="col-md-12">
            <button type="submit" class="btn btn-success btn-sm btn-md btn-block waves-effect text-center" style="font-size:13px;">Sign in</button>
        </div>
    </div>*@





    
        <div class="text-center">
            <img src="~/Content/skin2/img/logo-n.png" alt="" width="130" />
        </div>
        <div style="font-weight: 200!important;color: #979797;padding: 20px 12px;font-size: 20px;">
            @ViewBag.AuthTitle
        </div>

        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
            <input class="input100" id="Username" type="text" name="Username" placeholder="Email">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Password is required">
            <input class="input100" type="password" name="Password" id="Password" placeholder="Password">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
        </div>

        <div class="container-login100-form-btn">
            <button class="login100-form-btn" type="submit">
                Sign in
            </button>
        </div>

        <div class="text-center p-t-12">
            <span class="txt1">
                Forgot Your
            </span>
            <a class="txt2" href="@Url.Action("ForgotPassword", "Portal")">
                Password?
            </a>
        </div>




}

<script>
            localStorage["_ClientID_"] = "";
            localStorage["_ClientName_"] = "";
            localStorage["_ProductID_"] = "";
            localStorage["_ProductName_"] = "";
            localStorage["_ProductItemID_"] = "";
            localStorage["_ProductItemName_"] = "";
            localStorage["_SessionVariable_"] = "";
</script>