


@model JetSetupPortalHelper.APIObjs.ClientObj
@{
    /**/

    Layout = null;
    var error = ViewBag.Error as string;
    var hasError = !string.IsNullOrEmpty(error);
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Class Of Certificate Detail</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            @if (hasError)
            {
                <div class="alert alert-danger" role="alert" id="customError">
                    <h4>Error!</h4>
                    <p>@Html.Raw(error)</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            }
            else
            {
               
                    @Html.Hidden("ClientId", Model.ClientId)
                    <div class="col-md-12 col-sm-12">
                        <div id="dvError"></div>
                        
                        <dl class="">
                            <dt>Name</dt>
                            <dd>@Model.ClientName  </dd>
                            <dt>Address</dt>
                            <dd>@Model.Address</dd>
                            <dt>Mobile Number</dt>
                            <dd>@Model.MobileNumber</dd>
                            <dt>Email Address</dt>
                            <dd>@Model.Email</dd>
                            <dt>Status  </dt>
                            <dd>@Model.StatusLabel</dd>
                        </dl>
                      
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          
                        </div>
                    </div>
                

            }
        </div>

    </div>
</div>



