


@model JetSetupPortalHelper.APIObjs.EssayConfigObj
@{
    /**/

    Layout = null;
    var error = ViewBag.Error as string;
    var hasError = !string.IsNullOrEmpty(error);
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Edit EssayConfig</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            @if (hasError)
            {
                <div class="alert alert-danger" role="alert" id="customError">
                    <h4>Error!</h4>
                    <p>@Html.Raw(error)</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            }
            else
            {
                using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEdit", data_parsley_validate = "" }))
                {
                    @Html.Hidden("EssayConfigId", Model.EssayConfigId)
                    @Html.Hidden("SessionCode", Model.SessionCode)
                    
                    <div class="col-md-12 col-sm-12">
                        <div id="dvError"></div>


                        <div class="form-group">
                            Session Name
                            <select id="AppSessionId" name="AppSessionId" class="form-control" style="width: 100%"></select>
                        </div>
                        <div class="form-group">
                            Client Name
                            <select id="ClientId" name="ClientId" class="form-control" style="width: 100%"></select>
                        </div>
                        <div class="form-group">
                            Product Name
                            <select id="ClientId" name="ProductId" class="form-control" style="width: 100%"></select>
                        </div>
                        <div class="form-group">
                            Title
                            <input type="text" class="form-control" id="EssayConfigTitle" value="@Model.EssayConfigTitle" name="EssayConfigTitle" required="" data-parsley-maxlength="400" data-parsley-minlength="3" data-parsley-required-message="EssayConfigTitle must be between 3 and 400 characters">
                        </div>
                        <div class="form-group">
                            Topic
                            <input type="text" class="form-control" id="EssayConfigTitle" value="@Model.EssayTopic" name="EssayTopic" required="" data-parsley-maxlength="2000" data-parsley-minlength="5" data-parsley-required-message="Essay Topic must be between 5 and 2000 characters">
                        </div>
                        <div class="form-group">
                            Year
                            <select id="Year" name="Year" class="form-control" style="width: 100%"></select>
                        </div>
                        <div class="form-group">
                            Start Date
                            <input type="datetime" class="form-control" id="StartDate" value="@Model.StartDate" name="StartDate" required="" data-parsley-maxlength="10" data-parsley-minlength="10" data-parsley-required-message="Start Date must be 10 characters">
                        </div>
                        <div class="form-group">
                            End Date
                            <input type="datetime" class="form-control" id="EndDate" value="@Model.EndDate" name="EndDate" required="" data-parsley-maxlength="10" data-parsley-minlength="10" data-parsley-required-message="End Date must be 10 characters">
                        </div>
                        <div class="form-group">
                            Total Word Count
                            <input type="text" class="form-control" id="TotalWordCount" value="@Model.TotalWordCount" name="TotalWordCount">
                        </div>
                        <div class="form-group">
                            Paragraph Count
                            <input type="text" class="form-control" id="ParagraphCount" value="@Model.ParagraphCount" name="ParagraphCount">
                        </div>


                        <div class="form-group">
                            Status
                            @Html.CheckBox("StatusVal", Model.StatusVal, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Update EssayConfig</button>
                        </div>
                    </div>
                }

            }
        </div>

    </div>
</div>

<script src="~/Content/assets/libs/jquery-validation/dist/jquery.validate.min.js"></script>

<script>
    $(document).ready(function () {
        loadProducts();
        loadClients();
        loadAppSessions();
        loadAppYears();
        loadSessionCodes();
        $('#frmEdit').parsley().on('field:validated', function() {
            var ok = $('.parsley-error').length === 0;
            if (!ok) {
                InlineErrorMessage("Validation Error! Please check values inputted", "dvError");
                return false;
            }
        }).on('form:submit', function () {
            ClearInlineError("dvError");


            var frm = $("#frmEdit");

            if (frm == null) {
                InlineErrorMessage("Invalid Tab Information", "dvError");
                return false;
            }


            if (!frm.valid()) {
                InlineErrorMessage("Validation Error! Please check all fields", "dvError");
                return false;
            }

            //var actionUrl = frm.attr("action");
            var params = frm.serializeArray();


            $.ajax({
                type: "POST",
                url: '@Url.Action("ProcessEditEssayConfigRequest", "EssayConfig")',
                data: params,
                success: function (data) {
                    if (!data.IsAuthenticated) {
                        window.location.href = "@Url.Action("Login", "Portal")";
                        return;
                    }
                    if (!data.IsSuccessful) {
                        InlineErrorMessage(data.Error ? data.Error : "Unknown error occured. Please try again later!", "dvError");
                       swal({
                            title: "",
                            text: data.Error ? data.Error : "Unknown error occured. Please try again later!",
                            type: "error",
                            showCancelButton: false,
                            confirmButtonText: "Close",
                            closeOnConfirm: true,
                        }, function (isConfirm) {
                            if (isConfirm) {

                            }
                        });

                    } else {
                        $('#dvModal').modal('hide');
                        swal({
                            title: "",
                            text: "EssayConfig was updated successfully",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonText: "Ok",
                            closeOnConfirm: false,
                        }, function (isConfirm) {
                            if (isConfirm) {
                               window.location.reload();
                            }
                        });
                    }
                },
                complete: function () {
                    $(".loader").hide();
                    $("#loadingMessage").html("");
                }
            });
            return false;
        });



    });

      function loadClients() {
        $.getJSON("@Url.Action("LoadClients", "ODataProvider")",
            function(data) {
                var items = "";
                $.each(data,
                    function(i, item) {
                        if (parseInt('@Model.ClientId') === item.Id) {
                            items += "<option value='" + item.Id + "' selected='selected'>" + item.Name + "</option>";
                        } else {
                            items += "<option value='" + item.Id + "'>" + item.Name + "</option>";
                        }

                    });
                $("#ClientId").html(items);
            });
    }
    function loadProducts() {
        $.getJSON("@Url.Action("LoadProducts", "ODataProvider")",
            function(data) {
                var items = "";
                $.each(data,
                    function(i, item) {
                        if (parseInt('@Model.ProductId') === item.Id) {
                            items += "<option value='" + item.Id + "' selected='selected'>" + item.Name + "</option>";
                        } else {
                            items += "<option value='" + item.Id + "'>" + item.Name + "</option>";
                        }

                    });
                $("#ProductId").html(items);
            });
    }
    function loadAppSessions() {
        $.getJSON("@Url.Action("LoadAppSessions", "ODataProvider")",
            function(data) {
                var items = "";
                $.each(data,
                    function(i, item) {
                        if (parseInt('@Model.AppSessionId') === item.Id) {
                            items += "<option value='" + item.Id + "' selected='selected'>" + item.Name + "</option>";
                        } else {
                            items += "<option value='" + item.Id + "'>" + item.Name + "</option>";
                        }

                    });
                $("#AppSessionId").html(items);
            });
    }
    function loadAppYears() {
        $.getJSON("@Url.Action("LoadYears", "ODataProvider")",
            function(data) {
                var items = "";
                $.each(data,
                    function(i, item) {
                        if (parseInt('@Model.Year') === item.Id) {
                            items += "<option value='" + item.Id + "' selected='selected'>" + item.Name + "</option>";
                        } else {
                            items += "<option value='" + item.Id + "'>" + item.Name + "</option>";
                        }

                    });
                $("#Year").html(items);
            });
    }

    function loadSessionCodes() {
        $.getJSON("@Url.Action("LoadSessionCode", "ODataProvider")",
            function(data) {
                var items = "";
                $.each(data,
                    function(i, item) {
                        if (parseInt('@Model.SessionCode') === item.Id) {
                            items += "<option value='" + item.Id + "' selected='selected'>" + item.Name + "</option>";
                        } else {
                            items += "<option value='" + item.Id + "'>" + item.Name + "</option>";
                        }

                    });
                $("#SessionCode").html(items);
            });
    }
</script>
